<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}List-o-matic{% endblock %}</title>
  <link rel="stylesheet" href="/static/normalize/normalize.css" />
  <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css" />
  <link href='http://fonts.googleapis.com/css?family=Romanesco' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Condiment' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/static/css/app.css" />
</head>

<body>
  <script type="text/x-handlebars">
    <nav class="navbar navbar-default" role="navigation">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="container">
	<div class="navbar-header">
	  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
	    <span class="sr-only">Toggle navigation</span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	    <span class="icon-bar"></span>
	  </button>
	  <a class="navbar-brand" href="/">List-o-matic</a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	  {% if login %}
	  <form method="get" action="/search" id="item-submit" class="navbar-form navbar-left" role="search">
	    <div class="form-group">
              <input name="search" type="text" class="form-control" placeholder="Search">
	    </div>
	    <button type="submit" class="btn btn-default">Submit</button>
	  </form>
	  {% endif %}
	  <ul class="nav navbar-nav navbar-right">
	    {% if login %}
	    <li><a href="/auth/logout">Logout</a></li>
	    {% else %}
	    <li><a href="/auth/login"><img src="/static/img/sign-in-with-twitter-gray.png"></a></li>
	    {% endif %}
	  </ul>
	</div><!-- /.navbar-collapse -->
	<div>
    </nav>

    <div id="content" class="container">
      {% block content %}
      {% endblock %}
    </div>

  </script>

  <script src="/static/js/libs/jquery-1.10.2.js"></script>
  <script src="/static/js/libs/handlebars-1.1.2.js"></script>
  <script src="/static/js/libs/ember-1.5.1.js"></script>
  <script src="/static/js/app.js"></script>
  <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  <!-- to activate the test runner, add the "?test" query string parameter -->
  <script src="/static/tests/runner.js"></script>
  {% block scripts %}
  {% endblock %}
</body>
</html>
