{% extends "base.html" %}

{% block content %}
{% if login %}
<p>Lovingly created for <em>{{ name }}</em></p>

{% if search %}
<p class="search">You searched for items containing <em>{{ search|safe }}</em> </p>

{% else %}

<section id="todoapp">
  <header id="header">
    <div class="row">
      <div class="col-md-6">
	<button type="button" class="btn btn-warning btn-md" id="clear-completed">
          Clear completed (1)
	</button>
      </div>
      <div class="right col-md-6">
	<p><i>Double-click to edit an item</i></p>
      </div>
    </div>
  </header>

  <section id="main">
    <header id="input">
      <input type="text" id="new-todo" placeholder="Enter a new item">
    </header>
    <ul id="todo-list">
      <li class="completed">
        <input type="checkbox" class="toggle">
        <label>Learn Ember.js</label><button class="destroy"></button>
      </li>
      <li>
        <input type="checkbox" class="toggle">
        <label>...</label><button class="destroy"></button>
      </li>
      <li>
        <input type="checkbox" class="toggle">
        <label>Profit!</label><button class="destroy"></button>
      </li>
    </ul>
  </section>
</section>

{% endif %}

{% endif %}

{% endblock %}
